@import "../utilities/maps";
@import "../utilities/mixin";



/* mobile first */
.contBody {
    display: grid;
    grid-template-areas: "headerGrid"
        "mainGrid"
        "footerGrid";
    align-items: center;
}

body {
    font-family: 'Hubballi', cursive;
}

/* header */
header {
    background: map-get($map:$colores, $key:color-header);
}

/* animacion header */
.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 400ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



header h1 {
    padding: 15px 2px;
    transition: 200ms linear;
}

header h1:hover {
    transform: scale(1.2);

}

header h1 a {
    text-decoration: none;
    color: map-get($map:$colores, $key:color-letra-header);
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.headerGrid {
    grid-area: headerGrid;

}

.navBar {
    @include dis-flex-jus-center;
    flex-direction: column;
}

nav {
    @include dis-flex-jus-center;
    flex-direction: column;
    padding-bottom: 10px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: map-get($map:$colores, $key:color-letra-header);
    padding: 5px 12px;
    font-weight: bold;
    display: inline-block;

}

/* main */
main {
    background: map-get($map:$colores, $key:color-main);
}

.mainGrid {
    grid-area: mainGrid;
}

main h2 {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: map-get($map:$colores, $key:color-letra-main);
}

.mainGridNosotros {
    padding-top: 0.100px;
}

.menuDecoration {
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 20px;
    color: map-get($map:$colores, $key:color-letra-main);
    font-weight: bold;
    text-align: center;
}


img {
    max-height: 100%;
    max-width: 100%;
}

.menuDecorationText {
    padding: 13px;
}

.sucursalesForm {
    margin: 9px;
}

.sucursalesMap {
    margin: 9px;
}

.nosotrosTitulo {
    text-align: center;
}

.formularioDiv {
    margin: 5px;
}

.formularioContacto {
    margin: 15px 0 10px 0; 
}

.formularioContacto select {
    width: 110px;
}

.formularioContacto textarea{
    width: 99%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}



/* footer */
.footerGrid {
    grid-area: footerGrid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

main h2 {
    transition: 200ms linear;
}

main h2:hover {
    transform: scale(1.2);
}

main div img {
    transition: 200ms linear;
}

main div img:hover {
    transform: scale(1.0700);
}